Repository Uploadjoy/uploadjoy, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: client, ğŸ“š documentation, ğŸ“Œ area: ci, ğŸ“Œ area: examples

chore: add changeset
  .changeset/wet-paws-divide.md
Labels: ğŸ“š documentation

typo
  .changeset/nasty-shoes-crash.md
  README.md
Labels: ğŸ“š documentation

fix: branch in workflows
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: ğŸ“Œ area: ci

fix: add version script
  .github/version-script-beta.js
Labels: ğŸ“Œ area: ci

fix: publish scripts
  packages/client/package.json
Labels: ğŸ“Œ area: client

bruh
  .github/workflows/prerelease.yml
Labels: ğŸ“Œ area: ci

bruh2
  .github/workflows/prerelease.yml
Labels: ğŸ“Œ area: ci

ahhhhh
  .github/workflows/prerelease.yml
Labels: ğŸ“Œ area: ci

pls
  .github/workflows/prerelease.yml
Labels: ğŸ“Œ area: ci

plssss
  .github/workflows/prerelease.yml
Labels: ğŸ“Œ area: ci

.
  .github/workflows/prerelease.yml
Labels: ğŸ“Œ area: ci

add beta pkg version
  .github/workflows/prerelease-comment.yml
Labels: ğŸ“Œ area: ci

docs: add readme to client
  packages/client/README.md
Labels: ğŸ“Œ area: client, ğŸ“š documentation

chore: add changeset
  .changeset/chilly-news-relate.md
Labels: ğŸ“š documentation

docs: add link to docs
  README.md
  packages/client/README.md
  packages/client/src/client/types.ts
Labels: ğŸ“Œ area: client, ğŸ“š documentation

rename
  examples/create-t3-app/.env.example
  examples/create-t3-app/.eslintrc.json
  examples/create-t3-app/.gitignore
  examples/create-t3-app/README.md
  examples/create-t3-app/next.config.mjs
  examples/create-t3-app/package.json
  examples/create-t3-app/public/favicon.ico
  examples/create-t3-app/src/env/client.mjs
  examples/create-t3-app/src/env/schema.mjs
  examples/create-t3-app/src/env/server.mjs
  examples/create-t3-app/src/pages/_app.tsx
  examples/create-t3-app/src/pages/api/trpc/[trpc].ts
  examples/create-t3-app/src/pages/index.module.css
  examples/create-t3-app/src/pages/index.tsx
  examples/create-t3-app/src/server/trpc/context.ts
  examples/create-t3-app/src/server/trpc/router/_app.ts
  examples/create-t3-app/src/server/trpc/router/example.ts
  examples/create-t3-app/src/server/trpc/router/uploadjoy.ts
  examples/create-t3-app/src/server/trpc/trpc.ts
  examples/create-t3-app/src/server/uploadjoy/client.ts
  examples/create-t3-app/src/styles/globals.css
  examples/create-t3-app/src/utils/trpc.ts
  examples/create-t3-app/tsconfig.json
  package.json
Labels: ğŸ“š documentation, ğŸ“Œ area: examples

add tailwind to example
  examples/create-t3-app/package.json
  examples/create-t3-app/postcss.config.js
  examples/create-t3-app/src/env/schema.mjs
  examples/create-t3-app/src/pages/index.module.css
  examples/create-t3-app/src/pages/index.tsx
  examples/create-t3-app/src/styles/globals.css
  examples/create-t3-app/tailwind.config.js
  pnpm-lock.yaml
Labels: ğŸ“Œ area: examples

refactor: trpc routes
  examples/create-t3-app/src/pages/index.tsx
  examples/create-t3-app/src/server/trpc/router/uploadjoy.ts
Labels: ğŸ“Œ area: examples

implement standard dropzone in example
  .eslintrc.cjs
  examples/create-t3-app/package.json
  examples/create-t3-app/src/components/Dropzone.tsx
  examples/create-t3-app/src/pages/api/trpc/[trpc].ts
  examples/create-t3-app/src/pages/index.tsx
  examples/create-t3-app/src/styles/globals.css
Labels: ğŸ“Œ area: examples

feat: better output types
  packages/client/src/client/types.ts
Labels: ğŸ“Œ area: client

fix: changeset config
  .changeset/config.json
Labels: none

chore: add changeset
  .changeset/curly-mugs-rush.md
Labels: ğŸ“š documentation

fix: pnpm lock
  pnpm-lock.yaml
Labels: none

chore: update configs
  examples/create-t3-app/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: ğŸ“Œ area: examples

multipart dropzone example
  examples/create-t3-app/src/components/MultipartDropzone.tsx
  examples/create-t3-app/src/components/StandardDropzone.tsx
  examples/create-t3-app/src/pages/index.tsx
  examples/create-t3-app/src/server/trpc/router/uploadjoy.ts
  examples/create-t3-app/src/styles/globals.css
  examples/create-t3-app/tailwind.config.js
Labels: ğŸ“Œ area: examples

update example
  examples/create-t3-app/src/components/MultipartDropzone.tsx
Labels: ğŸ“Œ area: examples

feat: add www to url
  .changeset/beige-queens-fly.md
  packages/client/src/constants.ts
Labels: ğŸ“Œ area: client, ğŸ“š documentation

add uploader common
  .github/workflows/ci.yaml
  common/eslint-config-custom/index.js
  common/eslint-config-custom/package.json
  common/tsconfig/README.md
  common/tsconfig/base.json
  common/tsconfig/nextjs.json
  common/tsconfig/package.json
  common/tsconfig/react-library.json
  examples/create-t3-app/src/pages/index.tsx
  package.json
  packages/uploader-common/.gitignore
  packages/uploader-common/index.ts
  packages/uploader-common/package.json
  packages/uploader-common/src/client/index.ts
  packages/uploader-common/src/externalApi/apiCall.ts
  packages/uploader-common/src/externalApi/index.ts
  packages/uploader-common/src/index.ts
  packages/uploader-common/src/validators.ts
  packages/uploader-common/tsconfig.json
  packages/uploader-common/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: ğŸ“š documentation, ğŸ“Œ area: ci, ğŸ“Œ area: examples

testing new gh actions, wip
  .changeset/config.json
  .github/workflows/prerelease-comment.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  package.json
  packages/client/package.json
  packages/next/.gitignore
  packages/next/package.json
  packages/next/server.ts
  packages/next/src/server/types.ts
  packages/next/tsconfig.json
  packages/next/tsup.config.ts
  packages/uploader-common/src/externalApi/apiCall.ts
  packages/uploader-common/src/validators.ts
  pnpm-lock.yaml
Labels: ğŸ“Œ area: client, ğŸ“Œ area: ci

add changeset
  .changeset/config.json
  .changeset/tall-roses-care.md
Labels: ğŸ“š documentation

eslint fix
  packages/next/.eslintrc.cjs
  packages/next/tsconfig.json
  packages/uploader-common/.eslintrc.cjs
  packages/uploader-common/tsconfig.json
Labels: none

add server callbacks
  packages/next/server.ts
  packages/next/src/server/actions.ts
  packages/next/src/server/types.ts
  packages/uploader-common/src/validators.ts
Labels: none

new t3 example
  examples/create-t3-app/.env.example
  examples/create-t3-app/.eslintrc.cjs
  examples/create-t3-app/.eslintrc.json
  examples/create-t3-app/README.md
  examples/create-t3-app/next.config.mjs
  examples/create-t3-app/package.json
  examples/create-t3-app/postcss.config.cjs
  examples/create-t3-app/prettier.config.cjs
  examples/create-t3-app/prisma/schema.prisma
  examples/create-t3-app/public/favicon.ico
  examples/create-t3-app/src/components/MultipartDropzone.tsx
  examples/create-t3-app/src/components/StandardDropzone.tsx
  examples/create-t3-app/src/env.mjs
  examples/create-t3-app/src/env/client.mjs
  examples/create-t3-app/src/env/schema.mjs
  examples/create-t3-app/src/env/server.mjs
  examples/create-t3-app/src/pages/_app.tsx
  examples/create-t3-app/src/pages/api/auth/[...nextauth].ts
  examples/create-t3-app/src/pages/api/trpc/[trpc].ts
  examples/create-t3-app/src/pages/index.tsx
  examples/create-t3-app/src/server/api/root.ts
  examples/create-t3-app/src/server/api/routers/example.ts
  examples/create-t3-app/src/server/api/trpc.ts
  examples/create-t3-app/src/server/auth.ts
  examples/create-t3-app/src/server/db.ts
  examples/create-t3-app/src/server/trpc/context.ts
  examples/create-t3-app/src/server/trpc/router/_app.ts
  examples/create-t3-app/src/server/trpc/router/example.ts
  examples/create-t3-app/src/server/trpc/router/uploadjoy.ts
  examples/create-t3-app/src/server/trpc/trpc.ts
  examples/create-t3-app/src/server/uploadjoy/client.ts
  examples/create-t3-app/src/styles/globals.css
  examples/create-t3-app/src/utils/api.ts
  examples/create-t3-app/tailwind.config.ts
  examples/create-t3-app/tsconfig.json
  pnpm-lock.yaml
Labels: ğŸ“š documentation, ğŸ“Œ area: examples

refactors
  .changeset/config.json
  .changeset/weak-hounds-tan.md
  examples/create-t3-app/.eslintrc.cjs
  examples/create-t3-app/next.config.mjs
  examples/create-t3-app/package.json
  examples/create-t3-app/src/env.mjs
  examples/create-t3-app/src/pages/api/trpc/[trpc].ts
  examples/create-t3-app/src/pages/api/uploadjoy/[...action].ts
  examples/create-t3-app/src/pages/index.tsx
  examples/create-t3-app/src/server/auth.ts
  package.json
  packages/next/client.ts
  packages/next/package.json
  packages/next/server.ts
  packages/next/src/client/fetchPresignedUrls.ts
  packages/next/src/client/submit.ts
  packages/next/src/client/utils.ts
  packages/next/src/server/actions.ts
  packages/next/src/server/types.ts
  packages/next/tsconfig.json
  packages/next/tsup.config.ts
  packages/uploader-common/src/client/index.ts
  packages/uploader-common/src/validators.ts
  pnpm-lock.yaml
Labels: ğŸ“š documentation, ğŸ“Œ area: examples

fix lint
  examples/create-t3-app/.env.example
Labels: ğŸ“Œ area: examples

now fix lint
  examples/create-t3-app/src/env.mjs
  examples/create-t3-app/src/pages/api/uploadjoy/[...action].ts
Labels: ğŸ“Œ area: examples

.github/labeler.yml:

"ğŸ“Œ area: client":
  - any: ["packages/client/**/*"]

"ğŸ“š documentation":
  - any: ["**/*.md"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]

"ğŸ“Œ area: examples":
  - any: ["examples/**/*"]
